#projects {
  margin-top: 2rem;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.Project-title {
  font-size: 3rem;
  font-weight: 300;
  justify-content: center;
  text-align: center;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.description {
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.project-img {
  object-fit: cover;
  height: 20rem;
  width: 100%; /* Ensure images take the full width of the container */
  margin: 0.5rem;
  display: block;
  user-drag: none; /* For older browsers */
  -webkit-user-drag: none; /* For WebKit-based browsers */
  user-drag: none; /* For future browsers */
  user-drag: none; /* Prevents dragging on touch devices */
  -moz-user-select: none; /* Disable image dragging in Firefox */
  -webkit-user-drag: none; /* Disable image dragging in WebKit browsers */
  -ms-user-select: none; /* Disable image dragging in Internet Explorer */

}

.project-card {
  margin: 1rem;
  padding: 20px;
}

.project-card:hover {
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
}

.project-card span {
  font-weight: 100;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .project-img {
      height: 15rem; /* Adjust height for smaller screens */
  }
}
